:root {
    --content-max-width: 1300px;

    --color-primary: #E82356;
    --color-white: #ffffff;
    --color-gray-100: #eeeeee;
    --color-gray-200: #909090;
    --color-black: #1c1c1c;

    --font-sans: "Inter", system-ui, Arial, sans-serif;
    --font-size-14: calc(var(--base-value) * 0.875);
    --font-size-16: var(--base-value);
    --font-size-24: calc(var(--base-value) * 1.5);
    --font-size-32: calc(var(--base-value) * 2);
    --font-size-48: calc(var(--base-value) * 3);

    --line-height-base: 100%;
    --line-height-single: var(--line-height-base);
    --line-height-150: calc(var(--line-height-base) * 1.5);
    --line-height-double: calc(var(--line-height-base) * 2);
    --letter-spacing-tighter: -0.1rem;
    --letter-spacing-tight: -0.01rem;
    --letter-spacing-normal: 0;
    --letter-spacing-loose: 0.05rem;
    --letter-spacing-looser: 0.15rem;

    --button-spacing: var(--spacing-100) var(--spacing-200);

    --top-spacing: 200px;
}
@media ( min-width: 48rem ) {
    :root {
        --top-spacing: 300px;
    }
}
html {
    font-size: var(--base-value);
}
body {
    background-color: var(--color-gray-100);
    color: var(--color-black);
}
h1 {
    font-family: var(--font-sans);
    font-weight: 300;
    font-size: var(--font-size-24);
    line-height: 133%;
    letter-spacing: var(--letter-spacing-tight);
}
h2 {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: var(--font-size-16);
    padding-bottom: var(--spacing-50);
}
p {
    font-family: var(--font-sans);
    font-weight: 300;
    line-height: var(--line-height-150);
    padding-bottom: var(--spacing-100);
}
p a {
    color: var(--color-black);
    text-decoration: underline;
    text-underline-offset: 33%;
    text-decoration-thickness: 1px !important;
    text-decoration-color: var(--color-primary);
    transition: all 0.3s ease;
}
p a:hover {
    color: var(--color-primary);
    text-decoration-color: transparent;
}
.version {
    font-size: var(--font-size-14);
}
.version > .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-50);
    color: var(--color-black);
    width: fit-content;

}
.row * {
    padding: unset;
}
.header {
    padding-top: var(--spacing-300);
    padding-bottom: var(--spacing-300);
}
.footer {
    margin-top: var(--spacing-400) !important;
    background-color: var(--color-white);
}